<% if flash["notice"] %>
  <i><%= flash["notice"] %></i>
<% end %>

<h1>ALL THE CATS</h1>

<ul>
  <% @cats.each do |cat| %>
    <li>
      <a href="cats/<%= cat.id %>"><%= cat.name %></a>
    </li>
  <% end %>
</ul>

<a href="/cats/new">New cat!</a>

<hr>

<p>
  You've been here <%= session["visits"] %> times.
</p>
